.container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

.carousel {
  width: 80%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
}
