.container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: #0b5fef;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;    
  padding-top: 15px;
  color: white;
  line-height: 7.5px;
  padding-bottom: 15px;
}

.footerHeading {
  color: white;
}

.topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
}

.keypoints {
  color: white;
}
